* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  display: flex;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}

.l1,
.l2 {
  width: 45%;
  padding: 4rem;
}

.l1 ul,
.l2 ul {
  overflow-y: auto;
  background: #1d1e22;
  box-shadow: 0 4px 30px rgb(0 0 0 / 50%);
  border-radius: 6px;
  opacity: 0.8;
  padding-left: 0;
  padding: 1rem;
  list-style: none;
  height: 100%;
  width: 100%;
}
.l1 ul li,
.l2 ul li {
  border-radius: 5px;
  outline: none;
  background: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0.6rem;
  height: 10%;
  font-size: 1.5rem;
  padding: calc((10% - 1.5rem) / 2);
}

.options {
  margin-top: calc((100vh - 6rem) / 2);
  width: 10%;
  height: 6rem;
}

.moveAll,
.moveTop,
.moveBottom {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.8rem;
  color: white;
  background: #444857;
  outline: none;
  border: none;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

form {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

form input,
form button {
  height: 100%;
}

form input {
  width: 60%;
  outline: none;
    border: none;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

form button {
  outline: none;
    border: none;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
  width: 19%;
}

.hide {
  display: none;
}

.list-title {
  position: fixed;
  color: white;
  top: -2rem;
  font-size: 3rem;
  font-weight: bold;
}

.lf-1 {
  left: calc(56% + 4rem);
}
.lf-2 {
  left: 4rem;
}
